# Compilacion
build/
bin/
obj/
build_backup/

# Ejecutables y librerias (Windows)
*.exe
*.dll
*.lib
*.pdb

# IDEs
.vscode/
.vs/
*.user
*.sln
*.vcxproj

# Modelos de IA (Pesados)
models/
*.bin

# Archivos de prueba
*.wav

.env